### EXERCICIOS APIS

In [2]:
#importa as librerias necesarias para traballar con apis

In [2]:
import requests

In [ ]:
#vamos a consultar unha api sobre a predicción meteoroloxica
#https://www.el-tiempo.net/api/json/v2/home

In [ ]:
# Configura o endpoint
# Verifica o estado da resposta e explica o tipo de codigo

In [7]:

endpoint='https://www.el-tiempo.net/api/json/v2/home'
response = requests.get(endpoint)
response.status_code

200

In [ ]:
#provoca que fallo na peticion

In [6]:
endpoint = 'https://www.el-tiempo.net/api/json/v2/homes' #engadindo unha letra
response = requests.get(endpoint)
response.status_code

404

In [12]:
# Comproba o tipo de servidor que está detrás da API e o tipo de contido

In [12]:
response.headers['Content-Type']

'application/json'

In [13]:
response.headers['Server']

'Apache'

In [ ]:
#Consulta a superficie de Manrresa(Provincia de Barcelona)

In [27]:

endpoint='https://www.el-tiempo.net/api/json/v2/provincias/08/municipios/08113'
response_manrresa = requests.get(endpoint)
s_marresa=response_manrresa.json()['municipio']['SUPERFICIE']

print("Superficie {}".format(s_marresa))

Superficie 4164.4125

In [ ]:
#compara con Alcala de Henares(Provincia de Madrid)

In [28]:
endpoint='https://www.el-tiempo.net/api/json/v2/provincias/28/municipios/28005'
response_alcala = requests.get(endpoint)
s_alcala=response_alcala.json()['municipio']['SUPERFICIE']
print("Superficie {}".format(s_alcala))

Superficie 8772.1822

In [ ]:
#Crea un dataFrame para mostrar os datos

In [33]:
superficies=[]
superficies.append(s_marresa)
superficies.append(s_alcala)
import pandas as pd
df = pd.DataFrame(superficies,columns = ['Superficie'])
df

   Superficie
0   4164.4125
1   8772.1822

In [ ]:
#Crear un dataFrame con las temperaturas del muncipio de Algadefe en la provincia de Leon

In [47]:

endpoint='https://www.el-tiempo.net/api/json/v2/provincias/24/municipios/24002'
response=requests.get(endpoint)
temperaturas=response.json()['pronostico']['hoy']['temperatura']
temp=[]
for t in temperaturas:
    temp.append(t)
    
import pandas as pd
df = pd.DataFrame(temp,columns = ['Temperatura'])
df

   Temperatura
0           -3
1           -4
2           -5
3           -5
4           -5
5           -5
6           -4
7           -4
8           -3
9            0
10           3
11           6
12           7
13           8
14           9
15           8
16           6
17           5
18           2
19          -1
20           0
21          -1

In [ ]:
#vamos consultar a api da nasa 
#url  = 'https://api.nasa.gov/planetary/apod?'
#¿Esta api require autentificación? Mostra o mensaje de error

In [33]:
url='https://api.nasa.gov/planetary/apod?'
response = requests.get(url)
reponse.json()

{'error': {'code': 'API_KEY_MISSING',
  'message': 'No api_key was supplied. Get one at https://api.nasa.gov:443'}}

In [ ]:
#Accede o total de horas de sol requeridas para Marte 
#url='https://api.nasa.gov/insight_weather/?

In [28]:

url  = 'https://api.nasa.gov/insight_weather/?'
API_KEY = 'De8uYtzKmeEy7qbfOvVtA82WVFTbGfMkWd1ZNUYP'
payload = {'api_key':API_KEY, 'feedtype':'json&ver=1.0'}
response = requests.get(url, params = payload )
response.json()['validity_checks']['sol_hours_required']

18

In [ ]:
#Usa a api da NASA para ver nunha determinada datas o acercamento de asteroides de entre 2021/01/01 e o 2021/01/07 obten o absolute_magnitude_h para ese intervalo de datas na hora cero

#url:https://api.nasa.gov/neo/rest/v1/feed?start_date=START_DATE&end_date=END_DATE&api_key=API_KEY

In [10]:
url='https://api.nasa.gov/neo/rest/v1/feed?start_date=2021-01-01&end_date=2021-01-07'
API_KEY = 'De8uYtzKmeEy7qbfOvVtA82WVFTbGfMkWd1ZNUYP'
payload = {'api_key':API_KEY}
response = requests.get(url, params = payload )
response.json()['near_earth_objects']['2021-01-02'][0]['absolute_magnitude_h']
objetos=response.json()['near_earth_objects']
fechas=[]
for obj in objetos:
    
    mang=response.json()['near_earth_objects'][obj][0]['absolute_magnitude_h']
    print("Para {} a magnitude absolta e: {}".format(obj,mang))
    fechas.append([obj,mang])

Para 2021-01-02 a magnitude absolta e: 20.6
Para 2021-01-03 a magnitude absolta e: 21.02
Para 2021-01-01 a magnitude absolta e: 24.0
Para 2021-01-06 a magnitude absolta e: 19.7
Para 2021-01-07 a magnitude absolta e: 15.02
Para 2021-01-04 a magnitude absolta e: 22.0
Para 2021-01-05 a magnitude absolta e: 18.99

In [ ]:
#crea un DataFrame cos datos anteriores

In [4]:
import pandas as pd
df = pd.DataFrame(fechas,columns = ['Fecha','Magnitud absoluta'])
df = df.set_index('Fecha')

df

            Magnitud absoluta
Fecha
2021-01-02              20.60
2021-01-03              21.02
2021-01-01              24.00
2021-01-06              19.70
2021-01-07              15.02
2021-01-04              22.00
2021-01-05              18.99

In [ ]:
# Recapitulando:
# Query String Parámeters para configurar peticións GET
# Request Headers para configurar peticións GET
# Autenticación mediante parámetros
# Autenticación mediante headers